extends layout

block content
  div.background
    div.leftblog
      div.bkgd
        div.info
          div#name
            img
            p Fabián Tianyi Ni
          div#profile
            img
            p University of Texas at Dallas
            img
            p Dallas Fort Worth, USA
            img
            p GitHub Developer program member
            p Association for Computing Machinery
            img
            p fabian.ni@utdallas.edu
    div.rightblog
      div.resume
        div.bkgd